name: "Test"
on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: 'strongpassword'
        ports:
          - '3306:3306'
    env:
      DATABASE_URL: mysql://root:strongpassword@localhost:3306/users-db

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install
      - run: npx prisma migrate dev
      - name: 'Start server & test API routes'
        run: |
          npm run dev &
          pid=$!
          sleep 15
          # check api request works
          curl --fail 'http://localhost:3000/users?firstName=Jane'
          kill "$pid"